body {
	width: 70%; margin: 0 auto; background-color: whitesmoke;
}
header {

	text-align: center; font-family: "Lucida Sans Unicode"; font-size: 30px;
}
footer {
	text-align: center;
}
h1 { font-family: Helvetica; text-align: center;
}
img {
	align-content: center;
}
iframe {
	align-content: center;
}
h4 {
	font-family: "Lucida Sans Unicode";
}
h5 {
	font-family: "Lucida Sans Unicode";
}
